body {
	background-color: #ecf0f1;
}

.container {
	width: 900px;
	height: auto;
	margin: 0 auto;
}


.panel-row {
	display: flex;
	justify-content: space-between;
	width: 900px;
	height: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

.panel {
	width: 420px;
	height: auto;
	background-color: #bdc3c7;
}

.img {
	max-width: 420px;
}

p {
	margin: 0;
}

